<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ISTA Bestellungen
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Suche..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>erstellt</th>
        <th>Liegenschaftsnummer</th>
        <th>Firma</th>
        <th>Ansprechpartner Kunde</th>
        <th>Ort</th>
        <th>Telefon</th>
        <th>E-Mail</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of orders | filter:filterTerm">
        <tr>
          <td><ion-input type="text" [(ngModel)]="data.id" placeholder="ID"></ion-input></td>
          <td><ion-input type="text" [(ngModel)]="data.actualStatus" placeholder="Status"></ion-input></td>
          <td><ion-input type="text" [(ngModel)]="data.createdAt" placeholder="erstellt"></ion-input></td>
          <td><ion-input type="text" [(ngModel)]="data.Customer.propertyNumber" placeholder="Liegenschaftsnummer"></ion-input></td>
          <td><ion-input type="text" [(ngModel)]="data.Customer.companyName" placeholder="Firma"></ion-input></td>
          <td><ion-input type="text" [(ngModel)]="data.Customer.lastName" placeholder="Ansprechpartner Kunde"></ion-input></td>
          <td><ion-input type="text" [(ngModel)]="data.Customer.place" placeholder="Ort"></ion-input></td>
          <td><ion-input type="text" [(ngModel)]="data.Customer.phoneNumber" placeholder="Telefon"></ion-input></td>
          <td><ion-input type="email" [(ngModel)]="data.Customer.email" placeholder="E-Mail"></ion-input></td>
          <td><ion-button (click)="openDetails(data.id)">mehr</ion-button></td>
        </tr>
        <tr *ngIf="selectedId === data.id">
          <td colspan="10">
            <!-- Hier kommen die Details hin -->
            <ion-item>
              <ion-label position="floating">Bemerkung</ion-label>
              <ion-input type="text" [(ngModel)]="data.remarkExternal" disabled="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Aktueller Status</ion-label>
              <ion-input type="text" [(ngModel)]="data.actualStatus" disabled="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Zuletzt geändert</ion-label>
              <ion-input type="text" [(ngModel)]="data.updatedAt" disabled="true"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Bemerkung</ion-label>
              <ion-input type="text" [(ngModel)]="data.remarkExternal" disabled="true"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Aktueller Status</ion-label>
              <ion-input type="text" [(ngModel)]="data.actualStatus" disabled="true"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Zuletzt geändert</ion-label>
              <ion-input type="text" [(ngModel)]="data.createdAt" disabled="true"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Telefonnummer</ion-label>
              <ion-input type="text" [(ngModel)]="data.Customer.phoneNumber" disabled="true"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="email" [(ngModel)]="data.Customer.email" disabled="true"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">Ort</ion-label>
              <ion-input type="text" [(ngModel)]="data.Customer.place" disabled="true"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Land</ion-label>
              <ion-input type="text" [(ngModel)]="data.Customer.country" disabled="true"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">PLZ</ion-label>
              <ion-input type="text" [(ngModel)]="data.Customer.zipCode" disabled="true"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">Unternehmen</ion-label>
              <ion-input type="text" [(ngModel)]="data.Customer.companyName" disabled="true"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">Fax</ion-label>
              <ion-input type="text" [(ngModel)]="data.Customer.fax" disabled="true"></ion-input>
            </ion-item>
          </td>
        </tr>        
      </ng-container>
    </tbody>
  </table>
</ion-content>
