/* Neon-Effekt und weitere Stile */
.neon-card {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5), 0 0 10px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.5);
  }
  
  .inner-card {
    border-radius: 10px;
    box-shadow: 0 0 5px #5260ff, 0 0 10px #5260ff, 0 0 20px #5260ff;
    padding: 20px;
  }
  
  /* Grid-Layout für die Karte */
  .card-content-grid {
    display: flex;
    flex-direction: column;
  }
  
  .card-col {
    margin: 10px;
  }
  
  /* Media Query für den Desktop */
  @media screen and (min-width: 768px) {
    .card-content-grid {
      flex-direction: row;
    }
  }
  