<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-title>Trinkwasseruntersuchung</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Allgemein</h2>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">Unternehmensname</ion-label>
      <ion-input type="text" [(ngModel)]="companyName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Anschrift</ion-label>
      <ion-input type="text" [(ngModel)]="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Techniker</ion-label>
      <ion-input type="text" [(ngModel)]="technician"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Besichtigungsdatum</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="inspectionDate"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <h2>Angaben zum Objekt</h2>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">Strasse</ion-label>
      <ion-input type="text" [(ngModel)]="street"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hausnummer</ion-label>
      <ion-input type="text" [(ngModel)]="houseNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">PLZ</ion-label>
      <ion-input type="text" [(ngModel)]="zipCode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ort</ion-label>
      <ion-input type="text" [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Versorgungsart</ion-label>
      <ion-select [(ngModel)]="supplyType">
        <ion-select-option value="central">Zentral</ion-select-option>
        <ion-select-option value="decentral">Dezentral</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Art der Anlage</ion-label>
      <ion-select [(ngModel)]="systemType">
        <ion-select-option value="small">Kleinanlage</ion-select-option>
        <ion-select-option value="large">Großanlage</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Öffentliche Nutzung</ion-label>
      <ion-select [(ngModel)]="publicUsage">
        <ion-select-option value="yes">Ja</ion-select-option>
        <ion-select-option value="no">Nein</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Anzahl WE / GE</ion-label>
      <ion-input type="number" [(ngModel)]="numberOfWE_GE"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Objektnutzung</ion-label>
      <ion-input type="text" [(ngModel)]="objectUsage"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Zutritt zum Objekt inkl. Technikräume:</ion-label>
      <ion-input type="text" [(ngModel)]="accessToObject"></ion-input>
    </ion-item>
      </ion-list>

      <ion-list-header>
        <h2>Angaben zum Probenahme</h2>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Bestehen Betreiber- und Verkehrssicherungspflichten für die Trinkwasseranlage?</ion-label>
        <ion-select [(ngModel)]="systemType">
          <ion-select-option value="yes">ja</ion-select-option>
          <ion-select-option value="no">nein</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Prüfintervall nach TrinkwV:</ion-label>
        <ion-select [(ngModel)]="pruefintervall">
          <ion-select-option value="3years">3 Jahre</ion-select-option>
          <ion-select-option value="yearly">Jährlich</ion-select-option>
          <ion-select-option value="abweichend">Abweichend</ion-select-option>
          <ion-select-option value="keine">Keine</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-list-header>
        <h3>Probnehmeumfang</h3>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Chemie</ion-label>
        <ion-input label="Number input" type="number" placeholder="0"></ion-input>
        <ion-label position="stacked">Mikrobiologie</ion-label>
        <ion-input label="Number input" type="number" placeholder="0"></ion-input>
        <ion-label position="stacked">Legionellen PWH</ion-label>
        <ion-input label="Number input" type="number" placeholder="0"></ion-input>
        <ion-label position="stacked">Legionellen PWC</ion-label>
        <ion-input label="Number input" type="number" placeholder="0"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ist eine Beprobung nach DVGW W551 und DIN EN ISO 19458 möglich?</ion-label>
        <ion-select [(ngModel)]="dinEnIso19458">
          <ion-select-option value="yes">Ja</ion-select-option>
          <ion-select-option value="no">Nein</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Probenahmeventile fachgerecht montiert?</ion-label>
        <ion-select [(ngModel)]="probenahmeventile">
          <ion-select-option value="yes">Ja</ion-select-option>
          <ion-select-option value="no">Nein</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-list-header>
        <h2>Angaben zum Auftraggeber</h2>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Kundennummer</ion-label>
        <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Straße, Hausnummer</ion-label>
        <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Postleitzahl, Ort</ion-label>
        <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ansprechpartner</ion-label>
        <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">E-Mail:</ion-label>
        <ion-input type="email" [(ngModel)]="customerNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telefon</ion-label>
        <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fax</ion-label>
        <ion-input type="number" [(ngModel)]="faxNumber"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-list-header>
            <h2>Inhaltsverzeichnis</h2>
           </ion-list-header>

            <ion-list>
              <ion-item>
                <ion-label>Angaben zum Auftraggeber / Objekt / Probenahme / Auftragnehmer</ion-label>
                <ion-label>Seite 1</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Inhaltsverzeichnis / Probenahmeplan</ion-label>
                <ion-label>Seite 2</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Wärmeerzeuger / Trinkwassererwärmungsanlage</ion-label>
                <ion-label>Seite 3</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Fotodokumentation</ion-label>                
                <ion-label>Seite 4</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Erklärung von Abkürzungen</ion-label>
                <ion-label>Seite 5</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Wartungs- / Inspektionsintervalle</ion-label>
                <ion-label>Seite 6</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Bestimmungsgemäßer Betrieb / Betriebsunterbrechung</ion-label>
                <ion-label>Seite 7</ion-label>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list-header>
          <h2>Probenahmeplan</h2>
         </ion-list-header>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">POS</ion-label>
            <ion-input type="number" [(ngModel)]="id" disabled value="1">1</ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Nutzeinheit / Name</ion-label>
            <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">HNr.</ion-label>
            <ion-input type="number" [(ngModel)]="id" disabled value="1">1</ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Etage</ion-label>
            <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Lage in Etage</ion-label>
            <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Raum</ion-label>
            <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Zapfstelle</ion-label>
            <ion-input type="text" [(ngModel)]="customerNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Art der Beprobung?</ion-label>
            <ion-select [(ngModel)]="artDerBeprobung">
              <ion-select-option value="Chem">Chem</ion-select-option>
              <ion-select-option value="Mikrobio">Mikrobio</ion-select-option>
              <ion-select-option value="Legio">Legio</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">PN nach Zweck:</ion-label>
            <ion-select [(ngModel)]="PnNachZweck">
              <ion-select-option value="a">a</ion-select-option>
              <ion-select-option value="b">b</ion-select-option>
              <ion-select-option value="c">c</ion-select-option>
              <ion-select-option value="ok">OK</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="save()">Hinzufügen</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list-header>
          <h4>Wärmeerzeuger</h4>
         </ion-list-header>
        <ion-item>
          <ion-label position="stacked">Hersteller</ion-label>
          <ion-input type="text" [(ngModel)]="waermeErzeuger"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Typ</ion-label>
          <ion-input type="text" [(ngModel)]="type"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Baujahr</ion-label>
          <ion-input type="number" [(ngModel)]="type"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Leistung in KW</ion-label>
          <ion-input type="number" [(ngModel)]="speicherVolumenInLiter"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Lage</ion-label>
          <ion-input type="text" [(ngModel)]="lage"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Energieart</ion-label>
          <ion-select [(ngModel)]="Energieart">
            <ion-select-option value="Chem">Fernwärme</ion-select-option>
            <ion-select-option value="Mikrobio">Fossil</ion-select-option>
            <ion-select-option value="Legio">Öl</ion-select-option>
            <ion-select-option value="Legio">Gas</ion-select-option>
            <ion-select-option value="Legio">Regenerativ</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Notizen</ion-label>
          <ion-input type="text" [(ngModel)]="notizen"></ion-input>
        </ion-item>
          <ion-button expand="block" (click)="save()">Hinzufügen</ion-button>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-list-header>
            <h2>Trinkwassererwärmungsanlage</h2>
           </ion-list-header>
           <ion-item>
            <ion-label position="stacked">Standort</ion-label>
            <ion-input type="text" [(ngModel)]="waermeErzeuger"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Hersteller</ion-label>
            <ion-input type="text" [(ngModel)]="waermeErzeuger"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Baujahr</ion-label>
            <ion-input type="text" [(ngModel)]="waermeErzeuger"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Speichervolumen in Liter</ion-label>
            <ion-input type="text" [(ngModel)]="waermeErzeuger"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Gemessene Warmwasser Temperatur in °C</ion-label>
            <ion-input type="text" [(ngModel)]="waermeErzeuger"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Letzte Wartung und/oder Entkalkung</ion-label>
            <ion-input type="text" [(ngModel)]="waermeErzeuger"></ion-input>
          </ion-item>

          <ion-button expand="block" (click)="save()">Hinzufügen</ion-button>
           <!-- <ion-list-header>
            <h4>Trinkwasserspeicher</h4>
           </ion-list-header> -->
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="stacked">Betriebsweise der Trinkwassererwärmer</ion-label>
              <ion-select [(ngModel)]="artDerBeprobung">
                <ion-select-option value="inRow">In Reihe</ion-select-option>
                <ion-select-option value="parallel">Parallel</ion-select-option>
                <ion-select-option value="getrennt">Getrennt</ion-select-option>
                <ion-select-option value="getrennt">Abweichend</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-col>
              
            </ion-col>

        </ion-row>
      </ion-row>
      <ion-row>
        <ion-list-header>
          <h4>Warmwassersystem</h4>
         </ion-list-header>
        <div class="list-header">
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              Normbezug
            </ion-col>
            <ion-col>
              Ja / Nein
            </ion-col>
            <ion-col>
              Bemerkung / Notiz
            </ion-col>
            <ion-col>
              WATEC Risikoklassifizierung
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-label position="stacked">Probenahmeventil/e fachgerecht?</ion-label> -->
                <ion-input type="text" [(ngModel)]="waermeErzeuger">Probenahmeventil/e fachgerecht?</ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Normbezug</ion-label>
                <ion-input type="text" [(ngModel)]="waermeErzeuger">DIN 1988-200-3.9 DIN EN ISO 19458
                </ion-input> 
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <!-- <ion-label position="stacked">PN nach Zweck:</ion-label> -->
                <ion-select [(ngModel)]="PnNachZweck">
                  <ion-select-option value="ja">ja</ion-select-option>
                  <ion-select-option value="nein">nein</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Bemerkung / Notiz</ion-label>
                <ion-input type="text" [(ngModel)]="botiz">DIN 1988-200-3.9 DIN EN ISO 19458
                </ion-input>
              </ion-item>
              
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">WATEC Risikoklassifizierung</ion-label>
                  <ion-select [(ngModel)]="risikoKlassifizierung">
                    <ion-select-option value="niedrig">niedrig</ion-select-option>
                    <ion-select-option value="signifikant">signifikant</ion-select-option>
                    <ion-select-option value="hoch">hoch</ion-select-option>
                    <ion-select-option value="keine">keine</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="save()">Hinzufügen</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-row>
      <ion-row>
        <ion-list-header>
          <h4>Zirkulationssystem</h4>
         </ion-list-header>
        <div class="list-header">
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              Normbezug
            </ion-col>
            <ion-col>
              Ja / Nein
            </ion-col>
            <ion-col>
              Bemerkung / Notiz
            </ion-col>
            <ion-col>
              WATEC Risikoklassifizierung
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-label position="stacked">Probenahmeventil/e fachgerecht?</ion-label> -->
                <ion-input type="text" [(ngModel)]="waermeErzeuger">Probenahmeventil/e fachgerecht?</ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Normbezug</ion-label>
                <ion-input type="text" [(ngModel)]="waermeErzeuger">DIN 1988-200-3.9 DIN EN ISO 19458
                </ion-input> 
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <!-- <ion-label position="stacked">PN nach Zweck:</ion-label> -->
                <ion-select [(ngModel)]="PnNachZweck">
                  <ion-select-option value="ja">ja</ion-select-option>
                  <ion-select-option value="nein">nein</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Bemerkung / Notiz</ion-label>
                <ion-input type="text" [(ngModel)]="botiz">DIN 1988-200-3.9 DIN EN ISO 19458
                </ion-input>
              </ion-item>
              
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">WATEC Risikoklassifizierung</ion-label>
                  <ion-select [(ngModel)]="risikoKlassifizierung">
                    <ion-select-option value="niedrig">niedrig</ion-select-option>
                    <ion-select-option value="signifikant">signifikant</ion-select-option>
                    <ion-select-option value="hoch">hoch</ion-select-option>
                    <ion-select-option value="keine">keine</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="save()">Hinzufügen</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-row>

      <ion-row>
        <ion-col >
          <ion-list-header>
            <h4>Fotodokumentation</h4>
           </ion-list-header>
           <ion-item>
            <ion-label position="stacked">Titel</ion-label>
            <ion-input type="text" placeholder="Titel einsetzen" [(ngModel)]="mediaTitle"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Bild</ion-label>
            <ion-input type="file" accept="image/*" (change)="onFileSelected($event)"></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="save()">Bild hinzufügen</ion-button>        
        </ion-col>
        <ion-col>
          <ion-list-header>
            <h4>Aktuelle Bilder</h4>
           </ion-list-header>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-list-header>
          <h4>Erklärung von Abkürzungen</h4>
         </ion-list-header>
         <ion-col size="2.5">
          <ion-list-header>
             Abkürzung
           </ion-list-header>
         </ion-col>
         <ion-col size="2.5">
          <ion-list-header>
            Erklärung / Bedeutung
           </ion-list-header>
         </ion-col>
      </ion-row>
      <ion-row *ngFor="let a of abkuerzungen">
         <ion-col size="2.5">
          <ion-list-header>
            {{a.abkuerzung}}
           </ion-list-header>
         </ion-col>
         <ion-col >
          <ion-list-header>
            {{a.erklaerung}}
           </ion-list-header>          
         </ion-col>
      </ion-row>
      <ion-row>

      </ion-row>
      <ion-list-header>
        <h4>Wartungs- / Inspektionsintervalle</h4>
       </ion-list-header>
       <ion-row>
        <ion-col>
          Nr
         </ion-col>
         <ion-col>
          Bauteil
         </ion-col>
         <ion-col>
          Normbezug
         </ion-col>
         <ion-col>
          Inspektion
         </ion-col>
         <ion-col>
          Wartung
         </ion-col>
       </ion-row>
       <ion-row *ngFor="let i of inspektionsintervalle">
        <ion-col>
          {{i.nr}}
         </ion-col>
         <ion-col>
          {{i.bauteil}}
         </ion-col>
         <ion-col>
          {{i.Normbezug}}
         </ion-col>
         <ion-col>
          {{i.Inspektion}}
         </ion-col>
         <ion-col>
          {{i.Wartung}}
         </ion-col>
       </ion-row>

       <ion-row>
        <ion-list-header color="primary">
          <h4>Betriebsunterbrechung</h4>
         </ion-list-header>
         <ion-col>
          <p>Der bestimmungsgemäße Betrieb beginnt mit der ersten Befüllung des Systems mit Trinkwasser. Ab da an muss stets auf einen regelmäßigen Austausch des Trinkwassers in der gesamten Trinkwasseranlage geachtet werden. Stagniert das Trinkwasser im System, entsteht die Gefahr, dass sich Bakterien übermäßig vermehren oder sich auch materielles im System ablagert. Selbst in einer Anlage, die mit Trinkwasser befüllt wurde, aber noch keine Nutzung der Entnahmestellen beinhaltet, muss der Wasseraustausch über andere Wege gewährleistet werden.</p>
         </ion-col>
       </ion-row>

       <ion-row >
        <ion-list-header color="primary">
          <h4>Bestimmungsgemäßer Betrieb</h4>
         </ion-list-header>
         <ion-col>
          <b>Dauer des Stillstandes</b>
         </ion-col>
         <ion-col>
          <b>Maßnahmen zu Beginn der Abwesenheit</b>
         </ion-col>
         <ion-col>
          <b>Maßnahmen bei der Rückkehr</b>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col>
          mehr als 2 Stunden
         </ion-col>
         <ion-col>
          keine
         </ion-col>
         <ion-col>
          Ablaufen lassen des abgestandenen Wassers, bevor es zur Nahrungszubereitung verwendet wird
         </ion-col>
       </ion-row>

       <ion-row>
        <ion-col>
          mehr als 3 Tage
         </ion-col>
         <ion-col>
          <ion-row>
            <b>Wohnungen:</b> Schließen der Etagenabsperrung
          </ion-row>
          <ion-row>
            <b>Einfamilienhäuser:</b> Schließen der Absperrarmatur hinter der Wasserzählanlage
          </ion-row>
         </ion-col>
         <ion-col>
          <ion-row>
            Öffnen der Absperrarmatur, Wasser 5 Min. fließen lassen
          </ion-row>
          <ion-row>
            Regelmäßige, mindestens monatliche Erneuerung des Wassers
          </ion-row>
         </ion-col>
       </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="save()">Speichern</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="cancel()">Abbrechen</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="reset()">Zurücksetzen</ion-button>
        </ion-col>
      </ion-row>
    </ion-content>