<ion-header class="custom-header">
  <h1>ISTA</h1>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col>
      <ion-card style="background-color: #FF8C00">
        <ion-card-content>
          <h2>Card Title 1</h2>
          <p>This is some information about this card.</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card style="background-color: #00008B">
        <ion-card-content>
          <h2>Card Title 2</h2>
          <p>This is some information about this card.</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card style="background-color: #e74c3c">
        <ion-card-content>
          <h2>Card Title 3</h2>
          <p>This is some information about this card.</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card style="background-color: #27ae60">
        <ion-card-content>
          <h2>Card Title 4</h2>
          <p>This is some information about this card.</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

<!-- <div class="container" *ngFor="let data of orders; let i = index" style="padding: 20px;">
  <ion-card *ngFor="let data of orders; let i = index">
    <ion-card-header (click)="opened = opened === 'order' + i ? '' : 'order' + i">
      <h2>Order: {{data.id}}</h2>
    </ion-card-header>
    <ion-card-content *ngIf="opened === 'order' + i">
      <table>
          <tr>
              <th>Number</th>
              <th>Remark</th>
              <th>Created At</th>
          </tr>
          <tr>
              <td>{{data.number}}</td>
              <td>{{data.remarkExternal}}</td>
              <td>{{data.createdAt}}</td>
          </tr>
      </table>
    </ion-card-content>
  </ion-card>

  
  <div *ngFor="let status of data.status; let i = index" style="padding: 20px;">
    <ion-card>
      <ion-card-header (click)="opened = opened === 'status' + i ? '' : 'status' + i">
        <h3>Status:</h3>
      </ion-card-header>
      <ion-card-content *ngIf="opened === 'status' + i">
        <table>
          <tr>
              <th>Type</th>
              <th>Created At</th>
          </tr>
          <tr>
              <td>{{status.type}}</td>
              <td>{{status.createdAt}}</td>
          </tr>
      </table>
      </ion-card-content>
    </ion-card>
  </div>    

  <div *ngFor="let received of data.Received; let i = index" style="background-color: #FF8C00; padding: 20px;">
    <ion-card>
      <ion-card-header (click)="opened = opened === 'received' + i ? '' : 'received' + i">
        <h3>Received:</h3>
      </ion-card-header>
      <ion-card-content *ngIf="opened === 'received' + i">
        <table>
          <tr>
              <th>Order ID</th>
              <th>orderstatusType</th>
              <th>requestId</th>
              <th>setOn</th>
          </tr>
          <tr>
              <td>{{received.orderId}}</td>
              <td>{{received.orderstatusType}}</td>
              <td>{{received.requestId}}</td>
              <td>{{received.setOn}}</td>
          </tr>
      </table>
      </ion-card-content>
    </ion-card>
  </div>    

  <div *ngIf="data.customerContacts.length" style="background-color: #00008B; padding: 20px;">
      <h3 data-toggle="collapse" [attr.data-target]="'#contacts' + i">Customer Contacts:</h3>
      <div id="{{'contacts' + i}}" class="collapse">
          <div *ngFor="let contact of data.customerContacts">
              <table>
                  <tr>
                      <th>Contact Person</th>
                      <th>Agent</th>
                  </tr>
                  <tr>
                      <td>{{contact.contactPersonCustomer}}</td>
                      <td>{{contact.agentCP}}</td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div> -->


<ion-item button detail="true" detail-icon="caret-forward-outline" *ngFor="let data of orders; let i = index">
  <ion-label>
    <h2>Bestellung {{data.id}}</h2>
    <p><strong>Number:</strong> {{data.number}} | 
       <strong>Remark:</strong> {{data.remarkExternal}} | 
       <strong>Created:</strong> {{data.createdAt}}</p>

    <div *ngIf="data.status.length > 0" style="background-color: #00008B; padding:10px;">
      <h3>Status</h3>
      <div *ngFor="let status of data.status; let i = index">
        <p><strong>Type:</strong> {{status.type}} | 
           <strong>Created:</strong> {{status.createdAt}}</p>
      </div>
    </div>
      
    <div *ngIf="data.Received.length > 0" style="background-color: green; padding:10px;">
      <h2>Received</h2>
      <div *ngFor="let received of data.Received; let i = index">
        <p><strong>Order ID:</strong> {{received.orderId}} | 
           <strong>Status Type:</strong> {{received.orderstatusType}} | 
           <strong>Request ID:</strong> {{received.requestId}} | 
           <strong>Set On:</strong> {{received.setOn}}</p>
      </div>        
    </div> 

    <div *ngIf="data.Planned.length > 0" style="background-color: red; padding:10px;">
      <h2>Planned</h2>
      <div *ngFor="let planned of data.Planned; let i = index">
        <p><strong>Order ID:</strong> {{planned.orderId}} | 
           <strong>Status Type:</strong> {{planned.orderstatusType}} | 
           <strong>Request ID:</strong> {{planned.requestId}} | 
           <strong>Set On:</strong> {{planned.setOn}}</p>
      </div>        
    </div>
  </ion-label>
</ion-item>

</ion-content>









