
   <form [formGroup]="createPostponedForm" (ngSubmit)="onSubmitPostponed()">
    <ion-row>
      <ion-list-header>
        <ion-icon size="large" color="primary" name="time-outline"></ion-icon>
        <ion-card-title color="primary" style="padding:5px;">Verschoben - {{orderId}}</ion-card-title>
      </ion-list-header>
    </ion-row>
    <ion-item [disabled]="true" fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Bestellnummer</ion-label>
      <ion-input [value]="createPostponedForm.get('orderId').value" formControlName="orderId"></ion-input>
    </ion-item>
    <ion-row>
      <!-- <ion-col> -->
        <ion-item>
          <ion-label>nächster Kontaktversuch am</ion-label>
          <ion-datetime-button datetime="nextContactAttemptOn"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime (ionChange)="updateNextContactAttemptOnDate($event)" presentation="date" name="nextContactAttemptOn" formControlName="nextContactAttemptOn"
                id="nextContactAttemptOn"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      <!-- </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Grund für Verschiebung</ion-label>
          <ion-input type="text" formControlName="postponedReason" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="success" shape="round" fill="solid"  expand="full" [disabled]="isSubmitted" type="submit">Speichern</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" shape="round" color="danger" expand="full" type="button" (click)="cancel()">Abbrechen
        </ion-button>
      </ion-col>
    </ion-row>
   </form>