<ion-header>
  <ion-toolbar>
    <ion-title>Bestellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- This is your Search Bar -->
<ion-searchbar placeholder="Suche" [(ngModel)]="searchTerm" (ionChange)="filterItems()"></ion-searchbar>

<!-- This is your List -->
<ion-list>
  <ion-item *ngFor="let item of filteredItems">
    {{ item.name }}
  </ion-item>
</ion-list>

<ion-grid>
  <ion-row style="background-color:green;">
    <ion-col *ngFor="let key of keysToDisplay" style="padding:20px;">
      <strong>{{key}}</strong>
    </ion-col>

  </ion-row>
  <div>
    <div *ngFor="let item of orders; let i = index">
      <ion-row>
        <ion-col *ngFor="let key of keysToDisplay" style="padding:20px;">
          {{item[key]}}
        </ion-col>
        <ion-col>
          <ion-button (click)="item.showDetails = !item.showDetails">mehr</ion-button>
        </ion-col>
      </ion-row>
      <div *ngIf="item.showDetails">
        <div *ngIf="item.status.length > 0" style="background-color: #00008B; padding:10px;">
          <h3>Status</h3>
          <div *ngFor="let status of item.status; let i = index">
            <p><strong>Type:</strong> {{status.type}} | 
              <strong>Created:</strong> {{status.createdAt}}</p>
          </div>
        </div>
          <ion-row *ngIf="item.Received.length > 0" style="padding:10px;">
            <div>
              <h2>Received</h2>
              <div *ngFor="let received of item.Received; let i = index">
                <p><strong>Order ID:</strong> {{received.orderId}}</p> 
                <p><strong>Status Type:</strong> {{received.orderstatusType}}</p> 
                <p><strong>Request ID:</strong> {{received.requestId}}</p>
                <p><strong>Set On:</strong> {{received.setOn}}</p>
              </div>        
            </div> 
          </ion-row>
          <ion-row *ngIf="item.Planned.length > 0" style="padding:10px;">
            <div>
              <h2>Planned</h2>
              <div *ngFor="let planned of item.Planned; let i = index">
                <p><strong>Order ID:</strong> {{planned.orderId}}</p> 
                <p><strong>Status Type:</strong> {{planned.orderstatusType}}</p> 
                <p><strong>setOn:</strong> {{planned.setOn}}</p>
                <p><strong>detailedScheduleDate:</strong> {{planned.detailedScheduleDate}}</p>
                <p><strong>detailedScheduleTimeFrom:</strong> {{planned.detailedScheduleTimeFrom}}</p>
                <p><strong>detailedScheduleTimeTo:</strong> {{planned.detailedScheduleTimeTo}}</p>
                <p><strong>detailedScheduleDelayReason:</strong> {{planned.detailedScheduleDelayReason}}</p>
                <p><strong>requestId:</strong> {{planned.requestId}}</p>
              </div>        
            </div> 
          </ion-row>
      
          <ion-row *ngIf="item.Postponed.length > 0" style="padding:10px;">
            <div>
              <h2>Postponed</h2>
              <div *ngFor="let postponed of item.Postponed; let i = index">
                <p><strong>Order ID:</strong> {{postponed.orderId}}</p> 
                <p><strong>Status Type:</strong> {{postponed.orderstatusType}}</p> 
                <p><strong>setOn:</strong> {{postponed.setOn}}</p>
                <p><strong>detailedScheduleDate:</strong> {{postponed.detailedScheduleDate}}</p>
                <p><strong>detailedScheduleTimeFrom:</strong> {{postponed.detailedScheduleTimeFrom}}</p>
                <p><strong>detailedScheduleTimeTo:</strong> {{postponed.detailedScheduleTimeTo}}</p>
                <p><strong>detailedScheduleDelayReason:</strong> {{postponed.detailedScheduleDelayReason}}</p>
                <p><strong>requestId:</strong> {{postponed.requestId}}</p>
              </div>        
            </div> 
          </ion-row>
          
          <ion-row *ngIf="item.Cancelled.length > 0" style="padding:10px;">
            <div>
              <h2>Cancelled</h2>
              <div *ngFor="let cancelled of item.Cancelled; let i = index">
                <p><strong>id:</strong> {{cancelled.id}}</p> 
                <p><strong>requestId:</strong> {{cancelled.requestId}}</p> 
                <p><strong>orderId:</strong> {{cancelled.orderId}}</p>
                <p><strong>statusType:</strong> {{cancelled.statusType}}</p>
                <p><strong>setOn:</strong> {{cancelled.setOn}}</p>
                <p><strong>cancellationReason:</strong> {{cancelled.cancellationReason}}</p>
              </div>        
            </div> 
          </ion-row>
      
          <ion-row *ngIf="item.Rejected.length > 0" style="padding:10px;">
            <div>
              <h2>Rejected</h2>
              <div *ngFor="let rejected of item.Rejected; let i = index">
                <p><strong>id:</strong> {{rejected.id}}</p> 
                <p><strong>requestId:</strong> {{rejected.requestId}}</p> 
                <p><strong>orderId:</strong> {{rejected.orderId}}</p>
                <p><strong>statusType:</strong> {{rejected.statusType}}</p>
                <p><strong>reason:</strong> {{rejected.reason}}</p>
                <p><strong>reasonText:</strong> {{rejected.reasonText}}</p>
              </div>        
            </div> 
          </ion-row>
      
          <ion-row *ngIf="item.ClosedContractPartner.length > 0" style="padding:10px;">
            <div>
              <h2>ClosedContractPartner</h2>
              <div *ngFor="let closedContractPartner of item.ClosedContractPartner; let i = index">
                <p><strong>id:</strong> {{closedContractPartner.id}}</p> 
                <p><strong>requestId:</strong> {{closedContractPartner.requestId}}</p> 
                <p><strong>orderId:</strong> {{closedContractPartner.orderId}}</p>
                <p><strong>orderstatusType:</strong> {{closedContractPartner.orderstatusType}}</p>
                <p><strong>setOn:</strong> {{closedContractPartner.setOn}}</p>
                <p><strong>deficiencyDescription:</strong> {{closedContractPartner.deficiencyDescription}}</p>
                <p><strong>registrationHealthAuthoritiesOn:</strong> {{closedContractPartner.registrationHealthAuthoritiesOn}}</p>
                <p><strong>extraordinaryExpenditureReason:</strong> {{closedContractPartner.extraordinaryExpenditureReason}}</p>
              </div>        
            </div> 
          </ion-row>
      
          <ion-row *ngIf="item.NotPossible.length > 0" style="padding:10px;">
            <div>
              <h2>NotPossible</h2>
              <div *ngFor="let notPossible of item.NotPossible; let i = index">
                <p><strong>id:</strong> {{notPossible.id}}</p> 
                <p><strong>requestId:</strong> {{notPossible.requestId}}</p> 
                <p><strong>orderId:</strong> {{notPossible.orderId}}</p>
                <p><strong>statusType:</strong> {{notPossible.orderstatusType}}</p>
                <p><strong>setOn:</strong> {{notPossible.setOn}}</p>
              </div>        
            </div> 
          </ion-row>
      </div>
      </div>
  </div>

      
  
  </ion-grid>
</ion-content>
