<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ISTA Kundenkontakt erstellen
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Suche..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <table>
    <thead>
      <tr>
        <th>Liegenschaftsnummer</th>
        <th>Firma</th>
        <th>Ansprechpartner Kunde</th>
        <th>Adresse</th>
        <th>PLZ</th>
        <th>Ort</th>
        <th>Telefon</th>
        <th>Mobil</th>
        <th>Fax</th>
        <th>E-Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userRecords | filter:filterTerm">
        <td>{{data.propertyNumber}}</td>
        <td>{{data.company}}</td>
        <td>{{data.customerContact}}</td>
        <td>{{data.address}}</td>
        <td>{{data.zipCode}}</td>
        <td>{{data.city}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.mobile}}</td>
        <td>{{data.fax}}</td>
        <td>{{data.email}}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
