<ion-header>
  <ion-toolbar>
    <ion-title>ISTA Kundenkontakt erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

        <ion-card>
          <ion-toolbar color="light">
            <ion-title>Status</ion-title>
          </ion-toolbar>

          <ion-item fill="outline">
            <ion-label position="floating">Nummer</ion-label>
            <ion-input type="text" formControlName="number"></ion-input>
          </ion-item>

          <ion-item fill="outline">
            <ion-label position="floating">Bemerkung (Extern)</ion-label>
            <ion-input type="text" formControlName="remarkExternal"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-toolbar color="light">
            <ion-title>Kundenkontakt</ion-title>
          </ion-toolbar>
          <div formGroupName="Received">
            <!-- <div *ngFor="let receivedCtrl of orderForm.get('Received'); let i = index" [formGroupName]="i"> -->
            <ion-item>
              <ion-label position="floating">Status-Typ:</ion-label>
              <ion-input type="text" formControlName="orderstatusType"></ion-input>
            </ion-item>
            <div formArrayName="CustomerContacts">
              <!-- <div *ngFor="let CustomerContacts of getCustomerContactArray(receivedIndex).controls; let j = index" [formGroupName]="j"> -->
                <!-- [formGroupName]="j">  -->
                  <ion-item>
                    <ion-label>Kontaktversuch am</ion-label>
                    <ion-datetime-button datetime="contactAttemptOn"></ion-datetime-button>
                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime presentation="date" name="contactAttemptOn" id="contactAttemptOn"></ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Kontaktperson:</ion-label>
                    <ion-input type="text" formControlName="contactPersonCustomer"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">agentCP:</ion-label>
                    <ion-input type="text" formControlName="agentCP"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Ergebnis:</ion-label>
                    <ion-input type="text" formControlName="result"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Bemerkung:</ion-label>
                    <ion-input type="text" formControlName="remark"></ion-input>
                  </ion-item>
                </div>
              </div>  
            <!-- </div> -->
        </ion-card>
        <ion-row>
          <ion-col>
            <ion-button expand="full" [disabled]="isSubmitted" type="submit">Auftrag erstellen</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" [disabled]="!isSubmitted" type="button" (click)="transferToIsta()">An Ista
              übertragen
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-card></ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>