<ion-header>
  <ion-toolbar>
    <ion-title>Bestellung anlegen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  
    <ion-item>
      <ion-label position="floating">Remark External</ion-label>
      <ion-input type="text" formControlName="remarkExternal"></ion-input>
    </ion-item>

    <ion-toolbar color="success">
      <ion-title>Status</ion-title>
    </ion-toolbar>

    <ion-list>
      <ion-select formControlName="actualStatus" placeholder="Status selektieren">
        <ion-select-option value="RECEIVED">RECEIVED</ion-select-option>
      </ion-select>
    </ion-list>
    
    <div formArrayName="Received">
      <div *ngFor="let receivedCtrl of orderForm.get('Received').controls; let i = index" [formGroupName]="i">
        <ion-item>
          <ion-label position="stacked"><strong>Status Type:</strong></ion-label>
          <ion-input type="text" formControlName="orderstatusType"></ion-input>
        </ion-item>

        <h3>Kundenkontakt</h3>
        <div formArrayName="CustomerContact">
          <div *ngFor="let contactCtrl of receivedCtrl.get('CustomerContact').controls; let j = index" [formGroupName]="j">
            <ion-item>
              <ion-label position="stacked"><strong>contactAttemptOn:</strong></ion-label>
              <ion-datetime displayFormat="D MMM YYYY" formControlName="contactAttemptOn"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"><strong>contactPersonCustomer:</strong></ion-label>
              <ion-input type="text" formControlName="contactPersonCustomer"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"><strong>agentCP:</strong></ion-label>
              <ion-input type="text" formControlName="agentCP"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"><strong>result:</strong></ion-label>
              <ion-input type="text" formControlName="result"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"><strong>remark:</strong></ion-label>
              <ion-input type="text" formControlName="remark"></ion-input>
            </ion-item>
            <!-- Similar for other fields within 'CustomerContact' array -->
          </div>
        </div>      
      </div>
    </div>

    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>
</ion-content>
