<ion-card>
  <ion-card-header>
    <ion-card-title><ion-icon name="add-circle-sharp"></ion-icon>In Planung</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-title color="primary">Allgemeine Informationen</ion-title>
    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Erstellt Am</ion-label>
          <ion-input [value]="item?.createdAt"  ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Aktualisiert Am</ion-label>
          <ion-input [value]="item?.updatedAt"  ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Id</ion-label>
          <ion-input [value]="item?.id"  ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col> -->
   <form [formGroup]="createPlannedForm" (ngSubmit)="onSubmitPlanned()">
    <ion-item>
      <ion-label position="floating">Bestellnummer</ion-label>
      <ion-input formControlName="orderId" type="text"  readonly="true"></ion-input> <!-- entfernt "disabled" -->
    </ion-item>
      <!-- </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating"  position="stacked">Status Typ</ion-label>
          <ion-input formControlName="orderstatusType" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >gesetzt am</ion-label>
          <ion-input formControlName="setOn" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-title color="primary">Planung</ion-title>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Detailliertes Planungsdatum</ion-label>
          <ion-datetime formControlName="detailedScheduleDate" display-format="DD.MM.YYYY"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Detaillierte Planungszeit Von</ion-label>
          <ion-datetime formControlName="detailedScheduleTimeFrom" display-format="HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Detaillierte Planungszeit Bis</ion-label>
          <ion-datetime formControlName="detailedScheduleTimeTo" display-format="HH:mm"></ion-datetime>
        </ion-item>        
        <ion-item>
          <ion-label position="floating" >Anfrage ID</ion-label>
          <ion-input type="text" formControlName="requestId" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Grund für die detaillierte Planungsverzögerung</ion-label>
          <ion-input type="text" formControlName="detailedScheduleDelayReason" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full"  [disabled]="isSubmitted" type="submit">Erstellen</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger"
          expand="full" 
          type="button" 
          (click)="cancel()">Abbrechen
        </ion-button>
      </ion-col>
    </ion-row>
   </form>

  </ion-card-content>
</ion-card>
