<ion-content>
  <ion-card color="primary" >
    
    <ion-card-content >
      <ion-card-title>
        Einstellungen
      </ion-card-title>
        <p>
            Auf dieser Seite können Sie Ihre persönlichen Daten wie Ihre E-Mail-Adresse, Ihren Vor- und Nachnamen und Ihr Passwort verwalten und aktualisieren.
        </p>
    </ion-card-content>
</ion-card>


  <ion-row>
    <ion-col>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon name="pencil"></ion-icon>
          <ion-button color="accent" (click)="edit()">bearbeiten</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div *ngIf="showSuccessMessage" style="background-color: green; text-align: center; color: white;">
        <ion-toolbar class="success-message" color="success">
            <p style="padding: 10px;">Änderungen erfolgreich gesichert!</p>
        </ion-toolbar>
      </div>
        <form (ngSubmit)="editUser(firstName, lastName)">
          <ion-item>
            <ion-label position="floating">ID</ion-label>
            <ion-textarea name="id" [(ngModel)]="id" disabled placeholder="{{user.id}}" value="{{user.id}}"></ion-textarea>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Erstellt am</ion-label>
          <ion-datetime displayFormat="DD.MM.YYYY" disabled [value]="user.createdAt"></ion-datetime>
      </ion-item>   
          <ion-item>
            <ion-label position="floating">Erstellt am</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY" disabled [value]="user.createdAt"></ion-datetime>
        </ion-item>        
          <ion-item>
            <ion-label position="floating">Zuletzt aktualisiert am</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY" disabled [value]="user.updatedAt"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">E-Mail</ion-label>
            <ion-textarea name="mail" [(ngModel)]="mail" [disabled]="true" placeholder="{{user.email}}" value="{{user.email}}"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Vorname</ion-label>
            <ion-textarea name="firstName" [(ngModel)]="firstName" [disabled]="!editMode" placeholder="{{user.firstName}}" value="{{user.firstName}}"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nachname</ion-label>
            <ion-textarea name="lastName" [(ngModel)]="lastName" [disabled]="!editMode" placeholder="{{user.lastName}}" value="{{user.lastName}}"></ion-textarea>
          </ion-item>
          <div *ngIf="showEditButtons">
            <ion-button expand="block" type="submit" color="primary">speichern</ion-button>
            <ion-button expand="block" color="secondary" (click)="onCancelClick()">abbrechen</ion-button>
          </div>
        </form>
    </ion-col>
    <ion-col>
      <div>
        <h3 color="primary" >Passwort zurücksetzen</h3>
        <span class="reset-password-button">
            <form onsubmit="resetPassword()">
              <ion-item>
                <ion-label position="floating">Altes Passwort</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Neues Passwort</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Neues Passwort wiederholen</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </form>
            <ion-button expand="block" color="primary">Passwort zurücksetzen</ion-button>
          </span>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
