<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="about-header">
    <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
    <div class="about-image madison" [ngStyle]="location === 'madison' && {'opacity': '1'}"></div>
    <div class="about-image austin" [ngStyle]="location === 'austin' && {'opacity': '1'}"></div>
    <div class="about-image chicago" [ngStyle]="location === 'chicago' && {'opacity': '1'}"></div>
    <div class="about-image seattle" [ngStyle]="location === 'seattle' && {'opacity': '1'}"></div>
  </div>

  <div class="about-info">
    <h3 class="ion-padding-top ion-padding-start">Informationen</h3>

    <p class="ion-padding-start ion-padding-end">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

    <h3 class="ion-padding-top ion-padding-start">Schnellrouten</h3>

    <ion-list lines="none" *ngFor="let routes of routes; let i = index">
      <ion-item>
        <ion-button color="success" href="{{routes.href}}">Route</ion-button>
        <ion-label>
          {{routes.location}}
        </ion-label>
      </ion-item>
    </ion-list>

    <h3 class="ion-padding-top ion-padding-start">Länder mit Vignetten</h3>

    <ion-list lines="none" *ngFor="let route of routes; let i = index">
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="{{route.flagImage}}" />
        </ion-thumbnail>
        <ion-label>
          {{route.country}}
        </ion-label>
      </ion-item>
    </ion-list>

    <h3 class="ion-padding-top ion-padding-start">Länder mit Maut</h3>

    <ion-list lines="none" *ngFor="let route of routes; let i = index">
      <ion-item *ngIf="route.maut">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="{{route.flagImage}}" />
        </ion-thumbnail>
        <ion-label>
          {{route.country}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
