<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Logo -->
  <div class="login-logo">
    <img src="assets/img/watec/watec_logo.png" alt="Logo">
  </div>

  <ion-grid>
    <ion-row>
      <!-- Linke Spalte für Formular -->
      <ion-col size="6">
        <div class="left-content">
          <!-- Titel und Untertitel -->
          <ng-container *ngIf="!showLoggedInWarning">
            <h1>Willkommen zurück!</h1>
            <h2 class="info-text">Bitte einloggen</h2>
            <p class="info-text">Füllen Sie die Felder unten aus, um sich einzuloggen.</p>
          </ng-container>

          <!-- Formular -->
          <form *ngIf="!showLoggedInWarning" #loginForm="ngForm" novalidate class="login-form">
            <ion-list>
              <ion-item lines="none">
                <ion-label position="floating">E-Mail</ion-label>
                <ion-input type="email" [(ngModel)]="login.email" name="email" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating">Passwort</ion-label>
                <ion-input type="password" [(ngModel)]="login.password" name="password" required></ion-input>
              </ion-item>
            </ion-list>

            <!-- Buttons -->
            <ion-row class="ion-margin-top button-row">
              <ion-col>
                <ion-button (click)="onSignup()" fill="outline" expand="block">Passwort vergessen</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </div>
      </ion-col>

      <!-- Rechte Spalte für Bild -->
      <ion-col size="6">
        <div class="image-container">
          <img src="../../../assets/img/196.png" alt="Platzhalter-Bild" >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="showSuccessMessage" style="background-color: green; text-align: center; color: white;">
    <ion-toolbar color="success">
      <ion-title >Login successful!</ion-title>
      <ion-title >{{token}}</ion-title>
    </ion-toolbar>
  </div>
  <div *ngIf="showLoggedInWarning" style="background-color: green; text-align: center; color: white;">
    <ion-toolbar color="warning">
      <ion-title >Sie sind schon eingeloggt!</ion-title>
    </ion-toolbar>
  </div>
  <div *ngIf="showLoggedOutMessage" style="background-color: green; text-align: center; color: white;">
    <ion-toolbar color="success">
      <ion-title >Erfolgreich ausgeloggt!</ion-title>
    </ion-toolbar>
  </div>

  <ion-toolbar color="danger">
    <ion-title>Test-User: cem31@test.de / 1234</ion-title>
  </ion-toolbar>


</ion-content>
