<ion-app [class.dark-theme]="light">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" *ngIf="loginValid">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button autoHide="true"></ion-menu-button>
            <img height="50px" width="50px" src="assets/img/watec/watec_logo.png" alt="Ionic logo">
          </ion-buttons>
          <ion-title>ADMIN Dashboard</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle autoHide="false" *ngFor="let a of appPages; let indexA = index">
            <div *ngIf="loginValid">
              <ion-item [routerLink]="a.url" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="a.icon + '-outline'"></ion-icon>
                <ion-label>
                  {{a.title}}
                </ion-label>
              </ion-item>
            </div>
          </ion-menu-toggle>
          <ion-list-header>
            <ion-label>
              ISTA
            </ion-label>
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let i of istaPages; let indexI = index">
            <div *ngIf="loginValid">
              <ion-item [routerLink]="i.url" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="i.icon + '-outline'"></ion-icon>
                <ion-label>
                  {{i.title}}
                </ion-label>
              </ion-item>
            </div>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            Account
          </ion-list-header>
          <div *ngIf="loginValid">
            <ion-menu-toggle autoHide="false" *ngFor="let p of personalPages; let indexP = index">
              <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>

          <ion-item *ngIf="loginValid" (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>