<form [formGroup]="createExecutionOnSiteForm" (ngSubmit)="onExecutionOnSiteDoneSubmit()">
  <ion-row>
    <ion-list-header>
      <ion-icon size="large" color="primary" name="play-circle-outline"></ion-icon>
      <ion-card-title color="primary" style="padding:5px;">Ausführung erfolgt - {{orderId}}</ion-card-title>
    </ion-list-header>

  </ion-row>
  <ion-item [disabled]="true" fill="outline" class="custom-input" lines="none">
    <ion-label position="floating">Bestellnummer</ion-label>
    <ion-input [value]="createExecutionOnSiteForm.get('orderId').value" formControlName="orderId"></ion-input>
  </ion-item>
    <!-- </ion-col>
  </ion-row> -->
  <ion-row>
    <!-- <ion-col> -->
      <ion-item>
        <ion-label ><b>bestätigen</b></ion-label>
        <ion-checkbox formControlName="done" slot="start" color="success"></ion-checkbox>
      </ion-item>
    <!-- </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  color="success" shape="round" fill="solid"  expand="block" [disabled]="isSubmitted" type="submit">Speichern</ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="outline" shape="round" color="danger" expand="block" type="button" (click)="cancel()">Abbrechen
      </ion-button>
    </ion-col>
  </ion-row>
 </form>
