<!-- dashboard.page.html -->
<ion-header>
  <ion-toolbar color="primary" class="ion-padding">
    <ion-title class="ion-text-center">
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Kunden Overview</ion-card-subtitle>
            <ion-card-title>10 Kunden</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Kunden Overview</ion-card-subtitle>
            <ion-card-title>10 Kunden</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Trinkwasseruntersuchungen Overview</ion-card-subtitle>
            <ion-card-title>10 Trinkwasseruntersuchungen</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Trinkwasseruntersuchungen Overview</ion-card-subtitle>
            <ion-card-title>10 Trinkwasseruntersuchungen</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>Kunden
            <ion-toolbar>
              <ion-button (click)="createNewCustomer()">Kunde anlegen +</ion-button>
              <ion-button (click)="removeCustomer()">Löschen</ion-button>
            </ion-toolbar>

          </ion-list-header>
          <ion-searchbar></ion-searchbar>
          <ion-item *ngFor="let customer of customers">
            {{customer.id}} {{customer.email}} {{customer.lastName}}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-list-header>Trinkwasseruntersuchungen</ion-list-header>
          <ion-item *ngFor="let test of tests">
            {{test.name}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
