/* dashboard.page.scss */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  }
  
  .card-content {
    text-align: center;
  }
  
  .center-full-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px;
    color: --ion-primary;
}