<!-- dashboard.page.html -->
<ion-header>
  <ion-toolbar color="tertiary" class="ion-padding">
    <ion-title class="ion-text-center">
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Kunden</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col >
      <ion-row>
        <ion-col>
          <p>NAME</p>
        </ion-col>
        <ion-col>
          <p>EMAIL</p>
        </ion-col>
        <ion-col>
          <p>RUFNUMMER</p>
        </ion-col>
        <ion-col>
          <p>RUFNUMMER</p>
        </ion-col>
        <ion-col>
          <p>RUFNUMMER</p>
        </ion-col>
        <ion-col>
          <p>mehr</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col>
          <p>Max Mustermann</p>
        </ion-col>
        <ion-col>
          <p>max.mustermann@mail.to</p>
        </ion-col>
        <ion-col>
          <p>Musterstrasse 1</p>
        </ion-col>
        <ion-col>
          <p>49082 Osnabrück</p>
        </ion-col>
        <ion-col>
          <p>015203331316</p>
        </ion-col>
        <ion-col>
          <ion-icon name="add-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <h1>Max Mustermann</h1>
      </ion-row>
      <ion-row>
        <p>Musterstrasse 1</p>
        <p>Musterstrasse 1</p>
      </ion-row>
      <ion-row>
        <p>Musterstrasse 1</p>
        <p>Musterstrasse 1</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
