<!-- dashboard.page.html -->
<ion-header>
  <ion-toolbar color="primary" class="ion-padding">
    <ion-row>
      <ion-title style="padding:10px;" class="ion-text-left">
        Dashboard
      </ion-title>
    </ion-row>
    <ion-row>
      <ion-searchbar placeholder="Suche..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col>
        <ion-card>
          <h2>Übersicht</h2>
          <ion-card-header>
            <ion-card-title>Anzahl Trinkwasseruntersuchungen</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
</ion-content>
<!-- <app-received></app-received> -->