<ion-header>
  <ion-toolbar>
    <ion-title>Bestellungen</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Suche..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    <!-- This is your Search Bar -->
    <ion-list>
      <ion-item style="padding:5px;">
        <ion-item>
          <ion-label><ion-checkbox></ion-checkbox></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bestell-ID</ion-label>
        </ion-item>
        <ion-item>
          <ion-chip>
            <ion-label>Aktueller Status</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-label>Aktivität</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>setOn</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bemerkungen</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>mehr</ion-label> 
        </ion-item>
      </ion-item>
    </ion-list>
  <ion-list>
    <ion-item style="padding:5px;">
      <ion-item>
        <ion-label><ion-checkbox></ion-checkbox></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>#12345</ion-label>
      </ion-item>
      <ion-item>
        <ion-chip>
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          <ion-label>Received</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-label>Bestellung ist eingegangen!</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>10.07.2023</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>remarkExternal</ion-label>
      </ion-item>
      <ion-item>
        <ion-button><ion-icon name="caret-down-circle-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-item>
  </ion-list>
  <ion-list style="padding: 10px; background-color:#A0C2FF;">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Allgemeine Informationen</ion-card-title>
            <ion-card-subtitle color="primary">#12345</ion-card-subtitle>
          </ion-card-header>
          <ion-row>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">createdAt:</ion-label>
              <ion-input value="createdAt"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">createdAt:</ion-label>
              <ion-input value="createdAt"></ion-input>
            </ion-item>
          </ion-row>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label color="primary" position="floating">actualStatus:</ion-label>
            <ion-input value="PLANNED"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">Email:</ion-label>
            <ion-input value="1234"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">number:</ion-label>
            <ion-input value="1234"></ion-input>
          </ion-item>    
          <ion-card-content>
          </ion-card-content>
    
          <ion-toolbar style="padding:10px;">
            <ion-button fill="outline">Action 1</ion-button>
            <ion-button fill="solid">Action 2</ion-button>
          </ion-toolbar>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-row>
          
        </ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Aktionen</ion-card-title>
            <ion-card-subtitle color="primary">#S1234516</ion-card-subtitle>
          </ion-card-header>
          <ion-row>
            <ion-button>STATUS</ion-button>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-button>
                Test
              </ion-button>
            </ion-item>
          </ion-row>
          
          <ion-card-content>
          </ion-card-content>
          <ion-toolbar style="padding:10px;">
            <ion-button fill="outline">Action 1</ion-button>
            <ion-button fill="solid">Action 2</ion-button>
          </ion-toolbar>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card style="width:100%;">
        <ion-card-header>
          <ion-card-title>Status2</ion-card-title>

        </ion-card-header>
        <ion-card-header>
          <ion-card-subtitle color="primary">#S1234516</ion-card-subtitle>
        </ion-card-header>
        <ion-row style="background-color: #808080;">
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">createdAt:</ion-label>
            <ion-input value="createdAt"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">updatedAt:</ion-label>
            <ion-input value="updatedAt"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">type:</ion-label>
            <ion-input value="PLANNED"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">setOn:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">executionOnSiteDone:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-toolbar style="padding:10px;">
            <ion-button fill="outline">Action 1</ion-button>
            <ion-button fill="solid">Action 2</ion-button>
          </ion-toolbar>
        </ion-row>
      </ion-card>
    </ion-row>

    <ion-row color="primary">
      <ion-card style="width:100%;">
        <ion-card-header>
          <ion-card-title>Kundenkontakte</ion-card-title>

        </ion-card-header>
        <ion-card-header>
          <ion-card-subtitle color="primary">#S1234516</ion-card-subtitle>
        </ion-card-header>
        <ion-row style="background-color: #808080;">
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">contactAttemptOn:</ion-label>
            <ion-input value="contactAttemptOn"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">contactPersonCustomer:</ion-label>
            <ion-input value="contactPersonCustomer"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">agentCP:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">result:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">remark:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">orderId:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">plannedId:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">receivedId:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-toolbar style="padding:10px;">
            <ion-button fill="outline">Action 1</ion-button>
            <ion-button fill="solid">Action 2</ion-button>
          </ion-toolbar>
        </ion-row>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card style="width:100%;">
        <ion-card-header>
          <ion-card-title>Aktivitätenprotokoll</ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <ion-card-subtitle color="primary">#S1234516</ion-card-subtitle>
        </ion-card-header>
        <ion-row style="background-color: #808080;">
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">id:</ion-label>
            <ion-input value="id"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">requestId:</ion-label>
            <ion-input value="requestId"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">orderId:</ion-label>
            <ion-input value="orderId"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">statusType:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">setOn:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          </ion-row>
          <ion-row>
            <ion-title>Contact</ion-title>
            <ion-card-header>
              <ion-card-subtitle color="primary">#S1234516</ion-card-subtitle>
            </ion-card-header>
            <ion-row>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">Contact.id:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">orderId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">plannedId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">receivedId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
          </ion-row>
          <ion-toolbar style="padding:10px;">
            <ion-button fill="outline">Action 1</ion-button>
            <ion-button fill="solid">Action 2</ion-button>
          </ion-toolbar>
        </ion-row>

        <ion-row>
          <ion-title>Request</ion-title>
          <ion-card-header>
            <ion-card-subtitle color="primary">#S1234516</ion-card-subtitle>
          </ion-card-header>
          <ion-row>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">id:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">environment:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">language:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">consumer:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">consumer:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">rejectedId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">notPossibleId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">postponedId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">cancelledId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
            <ion-item fill="outline" shape="round" readonly disabled>
              <ion-label position="floating">plannedId:</ion-label>
              <ion-input value="true"></ion-input>
            </ion-item>
          </ion-row>
          <ion-toolbar style="padding:10px;">
            <ion-button fill="outline">Action 1</ion-button>
            <ion-button fill="solid">Action 2</ion-button>
          </ion-toolbar>
        </ion-row>
        <ion-row>
          <ion-title color="primary">Special Fields</ion-title>
        </ion-row>
        <ion-card-header>
          <ion-card-subtitle color="primary">#S1234516</ion-card-subtitle>
        </ion-card-header>

        <ion-row>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">id:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">id:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-item fill="outline" shape="round" readonly disabled>
            <ion-label position="floating">id:</ion-label>
            <ion-input value="true"></ion-input>
          </ion-item>
          <ion-toolbar style="padding:10px;">
            <ion-button fill="outline">Action 1</ion-button>
            <ion-button fill="solid">Action 2</ion-button>
          </ion-toolbar>
          <!-- PLANNED -->
          <!-- detailedScheduleDate, detailedScheduleTimeFrom, detailedScheduleTimeTo, detailedScheduleDelayReason -->
        </ion-row>

      </ion-card>
    </ion-row>
  </ion-list>
</ion-content>
  

  <!-- <ion-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="!myForm.valid">Submit</ion-button>
    </form>
  </ion-content> -->
  