form {
    border: 2px solid #3880FF;
    padding: 1rem;
    border-radius: 10px;
    max-width: 100%;

    @media screen and (max-width: 768px) {
        max-width: 80%;
    }
}

.bordered {
    border: 2px solid #3880FF;
    border-radius: 10px;
    margin: 10px;
    min-width: 180px;
    max-width: 100%;
}