<!-- <ion-row>
  <ion-header>
    <ion-toolbar>
      <ion-title>Allgemeine Informationen</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-row> -->

<ion-row>
  <ion-list-header>
    <ion-title>Allgemeine Informationen</ion-title>
  </ion-list-header>
</ion-row>
<ion-row>
  <!-- <ion-buttons> -->
    <ion-col>
      <ion-button color="primary" fill="outline" (click)="onEdit()"><ion-icon name="create-outline"></ion-icon> Bearbeiten</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="danger" fill="outline" (click)="onDelete()"><ion-icon name="trash-outline"></ion-icon> Löschen</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="tertiary" fill="outline" (click)="onSyncWithIsta()"><ion-icon name="sync"></ion-icon>Synchronisieren mit Ista</ion-button>
    </ion-col>
  <!-- </ion-buttons> -->
</ion-row>
<ion-row>
  <ion-col>
    <ion-item fill="outline" class="custom-input">
      <ion-label position="floating">Erstellt Am</ion-label>
      <ion-input [value]="formatDate(response?.createdAt)" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Auftragsnummer (intern)</ion-label>
      <ion-input [value]="response?.id" readonly></ion-input>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item fill="outline" class="custom-input">
      <ion-label position="floating">Geändert</ion-label>
      <ion-input [value]="formatDate(response?.updatedAt)" readonly></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-list-header>
    <ion-title>Vertrag</ion-title>
  </ion-list-header>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Vertragsnummer</ion-label>
      <ion-input [value]="response?.number || 'null'" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Rahmenvertrag</ion-label>
      <ion-input [value]="response?.number || 'null'" readonly></ion-input>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Vertragsart</ion-label>
      <ion-input [value]="response?.contractType || 'null'" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Vertragsstatus</ion-label>
      <ion-input [value]="response?.contractStatus || 'null'" readonly></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-list-header>
    <ion-title>Kunde</ion-title>
  </ion-list-header>
</ion-row>
<ion-row>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Kundennummer</ion-label>
      <ion-input [value]="response?.Customer?.id || 'null'" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Name</ion-label>
      <ion-input [value]="(response?.Customer?.lastName + ' / ' + response?.Customer?.name) || 'null'" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Anschrift</ion-label>
      <ion-input [value]="response?.Customer?.street || 'null'" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">PLZ</ion-label>
      <ion-input [value]="response?.Customer?.zipCode || 'null'" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Ort</ion-label>
      <ion-input [value]="response?.Customer?.place || 'null'" readonly></ion-input>
    </ion-item>
</ion-row>

<ion-row>
  <ion-list-header>
    <ion-title>Liegenschaft</ion-title>
  </ion-list-header>
</ion-row>
<ion-row>
  <ion-col>
    <ion-row>
      <ion-item fill="outline" class="custom-input" lines="none">
        <ion-label position="floating">Liegenschaftsnummer</ion-label>
        <ion-input [value]="response?.Customer?.propertyNumber || 'null'" readonly></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item fill="outline" class="custom-input" lines="none">
        <ion-label position="floating">Name</ion-label>
        <ion-input [value]="response?.Customer?.lastName || 'null'" readonly></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item fill="outline" class="custom-input" lines="none">
        <ion-label position="floating">Anschrift</ion-label>
        <ion-input [value]="response?.street || 'null'" readonly></ion-input>
      </ion-item>
      <ion-item fill="outline" class="custom-input" lines="none">
        <ion-label position="floating">PLZ</ion-label>
        <ion-input [value]="response?.zipCode || 'null'" readonly></ion-input>
      </ion-item>
      <ion-item fill="outline" class="custom-input" lines="none">
        <ion-label position="floating">Ort</ion-label>
        <ion-input [value]="response?.place || 'null'" readonly></ion-input>
      </ion-item>
      <ion-item fill="outline" class="custom-input" lines="none">
        <ion-label position="floating">Land</ion-label>
        <ion-input [value]="response?.country || 'null'" readonly></ion-input>
      </ion-item>
    </ion-row>
  </ion-col>
  <ion-col>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Zählerstand</ion-label>
      <ion-input [value]="response?.meterReading || 'null'" readonly></ion-input>
    </ion-item>
    <ion-item fill="outline" class="custom-input" lines="none">
      <ion-label position="floating">Zählerstand Datum</ion-label>
      <ion-input [value]="formatDate(response?.meterReadingDate) || 'null'" readonly></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
